html, body, div, h5, h4, h3, h2, h1, p, a{
    margin:0;
    padding:0;
    border:0;
}

body {
    background-image: url(images/backgroundimage.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.A {
    flex-direction: row;
    text-align: center;
}

.header {
    width: 100vw;
    height: 18vh;
    background-color: rgb(0, 0, 0);

}

.main {
    width: 100vw;
    min-height: 64vh;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    justify-content: space-around;
}

.footer {
    display: flex;
    width: 100vw;
    height: 18vh;
    background-color: rgb(0, 0, 0);

}

.left {
    margin-left: 0;
    flex-basis: 25%;
}
.sep {
    flex-basis: 0.3%;
    background-color: black;
}

.right {
    flex-basis: 74.7%;
    margin-right: 0;
}

.logo {
    transition-duration: 0.3s;
    float: left;
    margin-left: 10vw;
    margin-top: 5vh;
    font-size: 5vh;
    text-decoration: none;
    color: azure;
    font-family: cursive;
    font-weight: 700;
}

.logo:hover {
    color: white;
    font-size: 5.2vh;
}


.contactinformation {
    flex-basis: 33%;
    margin: 0;
    color: azure;
}

.info {
    margin: 0 auto;
    margin-top: 1.2vh;
    font-size: 1.7vh;
}

.vala {
    margin: 0 auto;
    margin-top: 2vh;
}

.copyrights {
    flex-basis: 33%;
    margin: 0;
    color: azure;
    float: left;
    margin-top: 12vh;
}

.follow {
    flex-basis: 34%;
    margin: 0;
    margin-right: 0;
    color: azure;
    float: right;
}

.followlinks {
    transition-delay: 0.4s;
    display: flex;
    margin-top: 0.5vh;
    margin-left: 17vw;
    color: azure;
    text-decoration: none;
}

.followlinks:hover {
    color: white;
    text-decoration: underline;
}

.valdke {
    display: flex;
    margin-top: 2vh;
    margin-left: 17vw;
    color: azure;
    text-decoration: none;
}

.leftform {
    font-size: 4vh;
    font-family: cursive;
}

.bar{
    width: 17vw;
    height: 2.5vh;
    padding: 0.5vh;
    border: none;
    margin-top: 4vh;    
    margin-left: 4vh;
    float: left;
    font-size: 1vw;
  }
  
.button {
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(0, 0, 0);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: cursive;
    font-size: 16px;
    float: left;
    margin-left: 2vw;
    margin-top: 4vh;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
.button:hover {
    background-color: #111111;
    color: white;
  }

.left p {
    font-family: cursive;
    font-size: 4vh;
    float: left;
    margin-left: 2vw;
    margin-top: 7vh;
  }

.hotels {
    float: left;
    display: flex;
    margin: 0 auto;
    margin-top: 3vh;
    margin-left: 8vw;
    margin-bottom: 3vh;
    color: black;
    border: aliceblue;
    border-style: groove;
    border-radius: 1vh;
    width: 55vw;
    height: 15vh;
    transition-duration: 0.4s;
    background-color: aliceblue;
  }

.desc {
    flex-basis: 25%;
  }

.hotelinformation {
    flex-basis: 50%;
    font-size: 1.6vh;
    margin-top: 1.2vh;
    
}

.price {
    flex-basis: 25%;
    float: right;
    margin-right: 2vw;
    margin-left: 3vh;
    margin-top: 4vh;
    margin-bottom: 5vh;
    border: black;
    border-style: double;
    border-radius: 3vh;
    border-color: seashell;
    background: rgb(129,129,129);
    color: aliceblue;
  }

.imghotels {
    width: 10vw;
    height: 14vh;
    float: left;
    margin-top: 0.1vh;
    margin-left: 0.5vw;
    border-style: double;
    border-color: aliceblue;
    border-radius: 1vh;
}

.hotelname {
    font-family: cursive;
    font-size: 2.5vh;
    color: black;
}

.hoteldesc {
    font-size: 1.5vh;
    color: black;
    font-family: cursive;
    margin-top: 0.5vh;
    
}

.hotels:hover {
    background-color: rgb(105, 105, 105);   
}

.pricetitle {
    margin-top: 0.5vh;
    font-size: 2vh;
}

.realprice {
    font-size: 1.7vh;
}

.mainslogan {
    margin-top: 5vh;
    font-size: 3.5vh;
    font-family: cursive;
    color: aliceblue;
}

.mainbar {
    width: 50vw;
    height: 4vh;
    padding: 0.5vh;
    border: none;
    border-radius: 1vh;
    margin-top: 8vh;    
    margin-left: 4vh;
    float: left;
    font-size: 1vw;
}

.mainbutton {
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(0, 0, 0);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: cursive;
    font-size: 16px;
    float: left;
    margin-left: 2vw;
    margin-top: 7.5vh;
    border-radius: 1vh;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.mainbutton:hover {
    background-color: #111111;
    color: white;
}